<div class="vh-100 d-flex flex-column pt-3">
  <ul class="nav flex-column">
    <li class="nav-item"><a routerLink="./accueil" class="nav-link">🏠 Accueil</a></li>
    <li class="nav-item"><a routerLink="./profil" class="nav-link">👤 Profil</a></li>
    <li class="nav-item"><a routerLink="./utilisateur" class="nav-link">👥 Utilisateurs</a></li>
    <li class="nav-item"><a routerLink="./fournisseur" class="nav-link">🚚 Fournisseurs</a></li>
    <li class="nav-item"><a routerLink="./materiel" class="nav-link">🧰 Matériels</a></li>
    <li class="nav-item"><a routerLink="./mouvement-stock" class="nav-link">📦 Mouvements</a></li>
  </ul>
</div>
